%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target": "#bs-example-navbar-collapse-1", "data-toggle": "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to (image_tag "logo.png", class: "logo-image"), professors_root_path, class: "logo-anchor"
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a{href: "#"} Link
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded": "false", "data-toggle": "dropdown", href: "#", role: "button"}
            Professor Menu
            %span.caret
          %ul.dropdown-menu{role: "menu"}
            %li{class: active_class(semesters_path)}
              =link_to 'Semesters', semesters_path
            %li{class: active_class(groups_path)}
              =link_to 'Groups', groups_path
            %li{class: active_class(quizzes_path)}
              =link_to 'Quizzes', quizzes_path
            %li.divider
            %li
              %a{href: "#"} Separated link

      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded": "false", "data-toggle": "dropdown", href: "#", role: "button"}
            Professor Account
            %span.caret
          %ul.dropdown-menu{role: "menu"}
            %li=current_professor.name
            %li=current_professor.email
            %li.divider
            %li=link_to "Logout", destroy_professor_session_path, method: :delete
    / /.navbar-collapse
  / /.container-fluid
