.page-header
  = link_to :back, class: "btn btn-default" do
    %span.glyphicon.glyphicon-list-alt
    Back
  &nbsp
  = link_to @semester, class: "btn btn-primary" do
    %span.glyphicon.glyphicon-info-sign
    Show
  %h1 Editing semester

= render "form"
