.page-header
  = link_to quizzes_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_quiz_path(@quiz), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show quiz

%dl.dl-horizontal
  %dt Professor:
  %dd= @quiz.group.name
