= content_tag :div, class: "alert alert-#{@flash_status} alert-dismissable alert-general", role: "alert" do
  %button.close{type: "button", data: {dismiss: "alert"} }
    %span{aria: {hidden: "true"} } &times;
    %span.sr-only Close
  =@ajax_status_text
