.page-header
  = link_to professors_students_path, class: "btn btn-default" do
    %span.glyphicon.glyphicon-list-alt
    =t(:back)
  &nbsp;
  = link_to professors_student_path(@student), class: "btn btn-primary" do
    %span.glyphicon.glyphicon-info-sign
    =t(:show)
  %h1=t(:editing_student)

= render "form"
