.page-header
  = link_to professors_students_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  &nbsp;
  = link_to professors_student_path(@professors_student), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-info-sign
    Show
  %h1 Editing professors_student

= render 'form'
