.page-header
  = link_to :back, class: "btn btn-default" do
    %span.glyphicon.glyphicon-list-alt
    Back
  &nbsp;
  = link_to professors_student_path(@student), class: "btn btn-primary" do
    %span.glyphicon.glyphicon-info-sign
    Show
  %h1 Editing professors_student

= render "form"
