/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*/

@import "bootstrap";
@import "select2";
@import "select2-bootstrap";
@import "bootstrap3-switch";

// @include prefix(box-shadow, inset 0 1px 1px $box-shadow, webkit ms);

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $color;
    -moz-box-shadow: inset $top $left $blur $color;
    box-shadow: inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}


$box-shadow: rgba(0, 0, 0, .05);
$black: #000;
$white: #fff;
$gray-dark: #444;
$gray-norm: #999;
$gray-light: #ccc;
$gray-lighter0: #ddd;
$gray-lighter: #f9f9f9;
$gray-lighter2: #fcfcfc;

$primary-color: #428bca;
$danger-color: #f44;
$danger-color-dark: #c00;
$warning-color: #fb3;
$warning-color-dark: #f80;
$success-color: #00c851;
$success-color-dark: #007e33;
$info-color: #33b5e5;
$info-color-dark: #09c;

// misc **************************************

#bootstrap-overrides
.form-group,
.form-horizontal {
  margin-left: 0;
  margin-right: 0;
}

.navbar-header {
  margin-top: 0.15em;

  .logo-anchor {
    margin-left: 0.2em;
    float: left;

    .logo-image {
      vertical-align: middle;
    }
  }
}

.dropdown-menu {
  li {
    white-space: normal;
    padding: 0 0.5em;
  }
}

.dl-horizontal {
  text-align: left;

  dt {
    white-space: normal;
  }
}

#bootstrap-overrides td, th {
  text-align: center;
  vertical-align: middle;
}

.main-wrapper {
  max-width: 75em;
  margin: 0 auto;
  text-align: center;
  border: 0.1em solid f00;
  padding: 0 0.25em;

  td:first-of-type,
  td:nth-last-child(1),
  td:nth-last-child(2),
  td:nth-last-child(3) {
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
  }
}

.flash-container {
  //height: 54px;
  width: 100%;
}

.first-nested-fields {
  .second-nested-fields {
    width: 97.5%;

    .third-nested-fields {
      width: 97.5%;
    }
  }
}

.nested-fields {
  position: relative;
  text-align: left;

  .nested-fields {
    text-align: left;
  }
}

.btn.active,
.btn:active {
  background-color: $success-color;
}

textarea {
  resize: vertical;
}

$question-category-show-width: 60%;
$padding-top: 0.5em;
$padding-side: 1em;
$padding-detail-pane: 0.2em;

.quiz-control-panel {
  background-color: black;
  height: 10em;
  padding: 1em;
}

.quiz-ol-show {
  .question-category-container {
    min-height: 14em;
    border-radius: 1em;
    padding: $padding-top $padding-side;
    border: 1px solid $gray-norm;
    background-color: $gray-lighter2;
    position: relative;

    .question-category-show {
      //placeholder
    }

    .question-category-detail-pane {
      background-color: $gray-lighter0;
      border-radius: 0.5em;
      border: 1px solid $gray-dark;
      padding: $padding-detail-pane;

    }

    .question-show {
      padding: 0.5em 2em;
      border: 1px solid $gray-light;
      background-color: $gray-lighter;
      border-radius: 0.5em;
      margin: 0.5em 0;
    }

  }
}

.question-category-detail-pane {
  dt {
    width: calc(50% - #{$padding-detail-pane});
    border-bottom: 1px solid $gray-norm;
  }

  dd {
    font-weight: bold;
    margin-left: calc(50% + #{$padding-detail-pane});
    border-bottom: 1px solid $gray-norm;
  }

  h3 {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 0.5em;
  }
}

.answer-list-show {
  list-style-type: upper-alpha;
  margin-left: -1em;

  li.tick::before {
    content: "\2713";
    color: $success-color-dark;
  }

  li.cross::before {
    content: "\2717";
    color: $danger-color-dark;
  }
}

.question-category-fieldset {

  .custom-close {
    position: absolute;
    top: 3em;
    right: 0.5em;
    z-index: 99;
  }

  .question-category-legend {
    @include box-shadow(0, 0.1em, 0, $primary-color, false);
    color: $primary-color;
  }

  .questions-fieldset {
    border-radius: 1em;
    padding: 0.5em;
    margin: 1em 0 0 2.5%;

    .questions-legend {
      @include box-shadow(0, 0.1em, 0, $warning-color, false);
      color: $warning-color;
    }

    .answers-fieldset {
      padding: 1.5em;
      margin: 1em 0 0 2.5%;

      .answers-legend {
        @include box-shadow(0, 0.1em, 0, $success-color, false);
        color: $success-color;
      }
    }

    .questions {
      padding: 0.5em;

      .question-content {
        border: 1px solid $black;
        min-width: 60%;
        background-color: $gray-lighter2;
      }

      .question-weight {
        margin-top: 0.2em;
      }

    }
  }
}

.answers {
  display: table;
  width: 100%;
  padding: 0.5em;
  position: relative;
  // margin-top: 1em;
  // margin-bottom: 1em;

  .answer-content {
    border: 1px solid $black;
    display: table-cell;
    width: 100%;
    background-color: $gray-lighter2;
  }

  .correct-switch {
    display: table-cell;
    width: 25%;
    vertical-align: bottom;
    .btn {
      margin-left: 1em;
    }
  }
}

.ordered_list {
  font-weight: bold;
}
