/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*/
@import "bootstrap";
@import "select2";
@import "select2-bootstrap";
@import "bootstrap3-switch";

@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{"-" + $prefix + "-" + $property}: $value;
  }
  // Output standard non-prefixed declaration
  #{$property}: $value;
}
//@include prefix(box-shadow, inset 0 1px 1px $box-shadow, webkit ms);



$box-shadow: rgba(0, 0, 0, .05);
$black: #000;
$white: #fff;
$gray-dark: #444;
$gray-norm: #999;
$gray-light: #ccc;
$gray-lighter: #f9f9f9;
$gray-lighter2: #fcfcfc;

$primary-color: #428bca;
$danger-color: #f44;
$danger-color-dark: #c00;
$warning-color: #fb3;
$warning-color-dark: #f80;
$success-color: #00c851;
$success-color-dark: #007e33;
$info-color: #33b5e5;
$info-color-dark: #09c;

.navbar-header {
  margin-top: 0.15em;

  .logo-anchor {
    width: 100%;

    .logo-image {
      vertical-align: middle;
    }
  }
}

.main-wrapper {
  max-width: 75em;
  margin: 0 auto;
  text-align: center;
  border: 0.1em solid f00;
  padding: 1em;
  padding-top: 55px;
}

.flash-container {
  height: 54px;
  width: 100%;
}

.nested-fields {
  position: relative;
  text-align: left;

  .nested-fields {
    text-align: left;
  }
}

.btn.active,
.btn:active {
  background-color: $success-color;
}

textarea {
  resize: vertical;
}

.questions-fieldset {

  .questions-legend {
    // placeholder
  }

  .answers-fieldset {
    margin: 1em 0 0 2em;

    .answers-legend {
      font-size: 1.2em;
    }
  }

  .custom-close {
    position: absolute;
    top: 3em;
    right: 0.5em;
  }

  .questions {
    padding: 0.5em;

    .question-content {
      border: 1px solid $black;
      min-width: 80%;
      background-color: $gray-lighter2;
    }
  }
}

.answers {
  display: table;
  width: 100%;
  padding: 0.5em;
  position: relative;
  // margin-top: 1em;
  // margin-bottom: 1em;

  .answer-content {
    display: table-cell;
    width: 100%;
    background-color: $gray-lighter2;
  }

  .correct-switch {
    display: table-cell;
    width: 25%;

    .btn {
      margin-left: 1em;
    }
  }
}

.ordered_list {
  font-weight: bold;
}
