.page-header
  = link_to professors_professors_path, class: "btn btn-default" do
    %span.glyphicon.glyphicon-list-alt
    =t(:back)
  &nbsp;
  = link_to professors_professor_path(@professor), class: "btn btn-primary" do
    %span.glyphicon.glyphicon-info-sign
    =t(:show)
  %h1= t(:editing_professor)

= render "form"
